@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@1,200&family=Kanit:wght@300&family=Nanum+Gothic:wght@700&family=Poppins:ital,wght@0,100;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Exo 2", sans-serif;
  font-family: "Kanit", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: black;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  overflow: hidden;
  width: 300px;
}

.img {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  margin-left: 100px;
  width: 100px;
  border-top-left-radius: 12px;
  border-top-left-radius: 12px;
}

.container h1 {
  font-size: 1.5em;
  padding: 10px;
}

.container h2 {
  font-size: 0.9em;
  color: #aaaa;
}

.container button {
  background-color: blue;
  height: 30px;
  border: none;
  padding: 4px;
  width: 70%;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.div-container {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
