<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    
    <script src="../static/script.js"></script>
    <link rel="stylesheet" href="../static/style.css">

</head>
<body>
    <header>
        <nav>
            <img src="../IMG/logo.png" alt="logomecanica">

            <ul class="nav-list">
                <li><a href="./register.html">Register</a></li>
                <li><a href="./login.html">Login</a></li>
                <li><a href="./lista.html">Services</a></li>
                <li><a href="#">Parts</a></li>  
            </ul>

            <span id="icone" class="material-symbols-outlined">menu</span>
        </nav>

        <main>
            <div class="container">
                    <h1>FLAVINHO AUTO MECHANICS</h1>
                    <hr><hr>
                    <h2>INNOVATION</h2>
                    <h3> between wheels</h3>
                    <br>
                    <br>
                    <a  class="button" href="./register.html">Register now</a>
    
                    <div class="flex-item">
                        <img class="pecas1" src="../IMG/peças.png" alt="img" >
                    </div>         
    
                <div class="design"></div>   
                
            </div>
            <br>
            <br>
        </main>
    </header>
    
    <section class="sobre">
        <div class="container2">
            <div>
                <img src="../IMG/img.jpeg" alt="imagem" width="250px">
            </div>
            <div class="descricao">
            <h1>SOBRE</h1>
            <p> Decidimos abrir um site para nossa oficina mecânica visando modernizar nosso negócio e atender às demandas digitais dos clientes. Agora, facilitamos o agendamento de serviços, proporcionando conveniência, melhorando nossa eficiência operacional e fortalecendo a comunicação com nossos clientes. 
            <br>A transparência no processo de agendamento online contribui para uma experiência mais satisfatória e confiável para todos.
            </p>  
        </div>
    </section>
    <section>
        <section class="services">
        <div class="container2">
            <h2>SERVIÇOS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint magnam ratione dolorem debitis magni, adipisci perspiciatis repellendus dolorum sapiente eum facilis. Iste labore maiores hic impedit soluta nesciunt unde quia.</p>
        </div>
        </section>

       <section class="services">
        <div class="peças">
            <img src="../IMG/peças2.png" alt="peças" width="300px">
            <h3>Serviços Gerais</h3>
        </div>
       </section>
    </section>
    <footer>
        <div class="rodapé">
        <img src="../IMG/logo.png" alt="logo">
        </div>
        <hr>
        <div class="rodapé">
            <h3>R.Dr João Colin, - Campo Mourão - PR, 89308-440 </h3>
            <h3> (47) 3026-6990 </h3>
            <h3>@r.schroeder.centroautomotivo</h3>
            <h3>© 2023 R.Schroeder. Todos os direitos reservados</h3>
            <h3>Desenvolvido por: BrunoPena, FerCavali, LaraDeitos, PedroUtumi, SaraGuaiume</h3>
        </div>

    </footer>
    

</body>
</html>
