<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../CSS/lista.css">
</head>
<html>
<body>
    <div class="container">
        <div class="foto">
            <img src="https://img.freepik.com/vetores-premium/mascote-de-desenho-mecanico_85893-206.jpg" alt="">
        </div>
    <div class="usuario">
        <h1>Informações sobre seus pedidos</h1>
    <br>
    <form action="/buscar_pedido" method="post">
        <label for="pedido_id">Digite o ID do pedido:</label>
        <br>
        <input type="text" id="pedido_id" name="pedido_id" required>
        <button type="submit">Buscar</button>
    </form>
    <br>
    {% if pedido %}
    <ul>
        {% for service in order_item %}
            <li>{{ order_item.service }}</li>
    {% endfor %}
    </ul>
    <nav>
        <a href="pagina.html">Página Principal</a>
        <a href="index.html">Login</a>
        <a href="cadastro.html">Register</a>
    </nav>
    </div>
    </div>
</body>
</html>