<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina principal</title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

    
    <script src="../JS/javascript.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style2.css')}}">
    
</head>
<body>
    <header>
        <nav>
            <img src="{{ url_for('static', filename='img/logo.png')}}" alt="logomecanica">

            <ul class="nav-list">
                <li><a href="./cadastro.html">Register</a></li>
                <li><a href="./Login.html">Login</a></li>
                <li><a href="./service.html">Services</a></li>
                <li><a href="./index.html">Pedidos</a></li>  
            </ul>

            <span id="icone" class="material-symbols-outlined">menu</span>
        </nav>

        <main>
            <div class="container">
                    <h1>FLAVINHO AUTO MECHANICS</h1>
                    <hr><hr>
                    <h2>INNOVATION</h2>
                    <h3> between wheels</h3>
                    <br>
                    <br>
                    <a  class="button" href="#">Register now</a>
    
                    <div class="flex-item">
                        <img class="pecas1" src="{{ url_for('static', filename='img/peças.png')}}" alt="img" >
                    </div>         
    
                <div class="design"></div>   
                
            </div>
            <br>
            <br>
        </main>
    </header>
    
    <section class="sobre">
        <div class="container2">
            <div>
                <img src="{{ url_for('static', filename='img/img.jpeg')}}" alt="imagem" width="250px">
            </div>
            <div class="descricao">
            <h1>SOBRE</h1>
            <p> Lorem ipsum dolor sit amet <br>
                consectetur adipisicing elit. <br>
                Incidunt at assumenda a vitae ad, <br>
                labore fuga totam? Est illo eaque enim eos. <br>
                Dignissimos necessitatibus enim fugit? <br>
                Accusamus modi eveniet reprehenderit!
            </p>  
        </div>
    </section>
    <section>
        <section class="services">
        <div class="container2">
            <h2>SERVIÇOS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint magnam ratione dolorem debitis magni, adipisci perspiciatis repellendus dolorum sapiente eum facilis. Iste labore maiores hic impedit soluta nesciunt unde quia.</p>
        </div>
        </section>

       <section class="services">
        <div class="peças">
            <img src="{{ url_for('static', filename='img/peças2.png')}}" alt="peças" width="300px">
            <h3>Serviços Gerais</h3>
        </div>
       </section>
    </section>
    <footer>
        <div class="rodapé">
        <img src="{{ url_for('static', filename='img/.png')}}" alt="logo">
        </div>
        <hr>
        <div class="rodapé">
            <h3>R.Dr João Colin, - Campo Mourão - PR, 89308-440 </h3>
            <h3> (47) 3026-6990 </h3>
            <h3>@r.schroeder.centroautomotivo</h3>
            <h3>© 2023 R.Schroeder. Todos os direitos reservados</h3>
            <h3>Desenvolvido por: BrunoPena, FerCavali, LaraDeitos, PedroUtumi, SaraGuaiume</h3>
        </div>

    </footer>
    

</body>
</html>