<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>paginaservices</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/styleService.css')}}">

</head>

<body>
  <header>

  </header>
  <div class="container">
    <div class="card">
      <img src="../static/img/service.jpg" class="img">
      <div class="div-container">
        <h1>Manutenção</h1>
        <h2>Revisões</h2>
        <span>Valor</span>
        <button>Saiba mais</button>
      </div>
    </div>

    <div class="card">
      <img src="../static/img/service.jpg" class="img">
      <div class="div-container">
        <h1>Troca de óleo</h1>
        <h2>funcionamento motor</h2>
        <span>Valor</span>
        <button>Saiba mais</button>
      </div>
    </div>


    <div class="card">
      <img src="../static/img/service.jpg" class="img">
      <div class="div-container">
        <h1>Sistemas de freios</h1>
        <h2>Segurança</h2>
        <span>Valor</span>
        <button>Saiba mais</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="card">
      <img src="../static/img/service.jpg" class="img">
      <div class="div-container">
        <h1>Suspensão e direção</h1>
        <h2>correta aderência</h2>
        <span>Valor</span>
        <button>Saiba mais</button>
      </div>
    </div>

    <div class="card">
      <img src="../static/img/service.jpg" class="img">
      <div class="div-container">
        <h1>Elétrica</h1>
        <h2>baterias</h2>
        <span>Valor</span>
        <button>Saiba mais</button>
      </div>
    </div>

    <div class="card">
      <img src="../static/img/service.jpg" class="img">
      <div class="div-container">
        <h1>Troca de peneus</h1>
        <h2>desempenho</h2>
        <span>Valor</span>
        <button>Saiba mais</button>
      </div>
    </div>

  </div>

</body>

</html>