<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 50px;
        height: 100vh;
        color: blue;
    }
</style>
</head>

<body>
{% if order_item %}
    <ul>
        <li>Payment: {{ order_item.payment }}</li>
        <li>Request: {{ order_item.request }}</li>
        <li>Service: {{ order_item.service }}</li>
    </ul>
{% else %}
    <p>Pedido não encontrado.</p>
{% endif %}
</body>

</html>