* {
   margin: 0%;
   padding: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    overflow: hidden
}


:root {

    /* cores */
    --white: #FFF;
    --black: #000; 
    --light-gray: rgb(216, 216, 231);
    --blue: #4c56b0;

   
    /* dimesoes */
    --width: 100%;
    --size: 6vh;

  }

  .container {
    display: grid;
    grid-template-columns: 35% 65%;
}

  .foto {
    width: 100%;
    height: 100vh;
    
  }

  .usuario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  input {
    width: 100%;
    padding: 1%;
    background-color: lightgray;
    border-radius: 10px;
    margin-top: 5%;
  }

  label {
    padding: 4%;
  }

  button {
    border-radius: 10px;
    background-color: var(--light-gray);
    padding: 3%;
    margin: 10%;
    margin-left: 35%;
    
  }

  body {
    background-color: var(--blue);
    height: 100%;
    
  }

  h1 {
    padding: 5%;
    font-size: 30px;
  }

  img {
    width: 100%;
    height: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
  }

  nav a {
    text-decoration: none;
    color: var(--black);
    padding-top: 10%;

  }

  nav a:hover {
    border-bottom: 1px solid white;
    color: white;
  }
